html{
    color: rgb(0, 102, 77);
    text-align: center;
    font-size: xx-large;
}
body{
    pointer-events: none;
    background-image: url(https://wallpapercrafter.com/desktop8/1915025-pixel-art-pixelated-nature-landscape-pixels-digital.jpg);
    background-size: 1440px;
}
#character{
    position: absolute;
}
#image{
    width: 200px;
    border-radius: 60%;
}
#endScreen{
    text-align: center;
    color: white;
}



