html{
    color: rgb(0, 102, 77);
    text-align: center;
    font-size: xx-large;
}
body{
    pointer-events: none;
    background: linear-gradient(rgb(0, 93, 93), rgb(0, 182, 182));
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#character{
    position: absolute;
}
#image{
    width: 200px;
    border-radius: 60%;
}
#endScreen{
    text-align: center;
    color: white;
}



